{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
	<div class="blog-post-container" id="Blog">
		{% for blogs in blogs %}
		<div class="blog-post">
			<img src="{{ blogs.image }}" alt="blog-img">
			<div class="blog-post-items">
				<h3 class="blog-post-title">{{ blogs.title }}</h3>
				<h4 class="blog-post-author">By, Bisadh Kadel</h4>
				<p class="blog-post-content">{{ blogs.summery }}<br/><a class="redirect-button" href="{% url 'blog_details' blogs.slug %}">ReadMore</a> 
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}