<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Join meet</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/join.css">
				<!-- fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
	<div class="join-reg-container">
		<div class="join-reg">
			<form action="#" method="POST">
				<h2>Join Meeting</h2>
				<label for="user-name">Name</label>
				<input type="text" name="user-name" required>
				<label for="user-email">Email</label>
				<input type="email" name="user-email" required>
				<label for="user-name">Age</label>
				<input type="text" name="Age" required>
				<label for="user-name">Gender</label>
				<select name="Gender" required>
					<option value="male">Male</option>
					<option value="female">Female</option>
					<option value="others">Others</option>
				</select>
				<input type="submit" name="submit" value="Join">
			</form>
		</div>
	</div>
</body>
</html>