{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

	<div class="profile-container">
		<div class="profile-nav">
			<h1 class="profile-nav-title">SaathiTimro</h1>
			<ul class="profile-nav-items">
				<li ><a href="profile">Profile</a></li>
				<li ><a href="schedule">Public Sessions</a></li>
				<li ><a href="client">Clients</a></li>
				<li style="font-weight: bold; letter-spacing: 2px;"><a href="pending.html">Pending</a></li>
			</ul>
		</div>
		<div class="profile-content">
			<div class="profile">
				<div class="profile-table">
				<div class="column">
					<h2 style="margin-bottom: 10px;">Pending Clients</h1>

					<div class="row">
						<div id="th">Bisadh Kadel</div>
						<div id="td"><a href="" class="view-button"> View Details </a></div>
						<div id="td"><a href="" class="join-button"> Attend </a></div>
					</div>

					<div class="row">
						<div id="th">Dipesh Gurung</div>
						<div id="td"><a href="" class="view-button"> View Details </a></div>
						<div id="td"><a href="" class="join-button"> Attend </a></div>
					</div>

					<div class="row">
						<div id="th">Basanta Bhusan Khadka</div>
						<div id="td"><a href="" class="view-button"> View Details </a></div>
						<div id="td"><a href="" class="join-button"> Attend </a></div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
{% endblock %}
