{% extends 'base.html' %}
{% load static %}

{% block 'content' %}


	<div class="profile-container">
		<div class="profile-nav">
			<h1 class="profile-nav-title">SaathiTimro</h1>
			<ul class="profile-nav-items">
				<li style="font-weight: bold; letter-spacing: 2px;"><a href="profile.html">Profile</a></li>
				<li><a href="schedule">Public Sessions</a></li>
				<li><a href="client">Clients</a></li>
				<li><a href="pending">Pending</a></li>
			</ul>
		</div>
		<div class="profile-content">
			<div class="profile">
				<h2 class="profile-name"> Bisadh Kadel </h2>
				<div class="profile-table">
					<div class="row">
						<div class="th">Location</div><div class="td">Basantapur</div>
					</div>
					<div class="row">
						<div class="th">Contact</div><div class="td">98********</div>
					</div>
					<div class="row">
						<div class="th">Email</div><div class="td">random-email@email.com</div>
					</div>
					<div class="row">
						<div class="th">Available</div><div class="td">12pm to 8pm</div>
					</div>
					<div class="row">
						<div class="th">Joined</div><div class="td">November 12 2021</div>
					</div>					
				</div>
			</div>
			<div class="c-available">
				<h2 style="margin-bottom: 20px;">Counselor Availability</h2>
				<form>
				<label>From :</label>
				<input type="text" name="from" required>
				<label>To :</label>
				<input type="text" name="from" required>
				<button type="submit">UPDATE</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}