{% extends 'base.html' %}
{% load static %}

{% block 'content' %}


	<div class="profile-container">
		<div class="profile-nav">
			<h1 class="profile-nav-title">SaathiTimro</h1>
			<ul class="profile-nav-items">
				<li ><a href="profile.html">Profile</a></li>
				<li style="font-weight: bold; letter-spacing: 2px;"><a href="schedule.html">Public Sessions</a></li>
				<li><a href="client">Clients</a></li>
				<li><a href="pending">Pending</a></li>
			</ul>
		</div>
		<div class="profile-content">
			<div class="profile">
				<div class="profile-table">
				<div class="column">
					<h2 style="margin-bottom: 10px;">Public Sessions</h1>
					<div class="row">
						<div id="th">Title of the Session</div><div id="td"><a href="" class="join-button"> Join </a></div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

{% endblock %}